
body
{
	color: white;
	background-color: #0000a0;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14pt;
}

menu-bar
{
	display: block;
	margin-left: -10px;
	margin-right: 0;
	width: 100%;
	background-color:white;
	padding-left: 1em;
	padding-top: .5em;
	padding-bottom: .25em;
	zheight: 1.4em;
	margin-bottom: 2em;
}

menu-bar a
{
	margin-right:2em;
	color: #0000c0;
	font-weight:500;
	text-decoration: none;
}

command-line, pre
{
	display: block;
	margin-left:5em;
	margin-right:5em;
	padding-top: .25em;
	padding-left: 1em;
	padding-bottom: .25em;
	margin-top: .5em;
	margin-bottom: .5em;
	background-color: #e0e0e0;
	color: black;
	font-family: Consolas,Courier New,monospace;
}

color-blue
{
	color: blue;
}

color-yellow
{
	color: yellow;
}

h1,sub-title
{
	text-align:center;
}

h1
{
	font-size:24pt;
}

h2
{
	color: #00e000;
	margin-left: -19pt;
	margin-top: 48pt;
}

h3
{
	color:gold;
	margin-top: 36pt;
}

h4
{
	color: bisque;
	margin-left: -19pt;
	margin-top: 30pt;
}

sub-title
{
	margin-top:-1em;
	display:block;
	font-size:18pt;
	font-weight:500;
}

indented-block
{
	display: block;
	margin-left:36pt;
}

the-rest
{
	display: block;
	margin-left:72pt;
	margin-right:72pt;
}

the-rest a
{
	color: #00ff00;
	font-weight: 500;
}

ul
{
	margin-top:.5em;
	margin-bottom: .5em;
	width:85%;
}
li
{
	margin-top: .5em;
}
