
body
{
	font-size: 12pt;
	font-family: Helvetica, Arial, sans-serif;
	color: black;
	margin-left:10em;
}

.twocolumn
{
	column-count: 2;
}

#schedule
{
	margin-top: 5vh;
}

#scheduleDates
{
	margin-bottom:2vh;
}

#scheduledDate 
{
	color: blue;
	font-size: 10pt;
	font-weight: bold;
	text-decoration:underline;
	margin-left: 1em;
	margin-top: 2em;
	line-height: 0;
}

#scheduledPosition
{
	color: green;
	margin-left: 2em;
	font-size: 10pt;
	margin-bottom: 0;
	margin-top: 2px;
}

.scheduledVolunteer 
{
	font-size: 10pt;
	margin-left: 4em;
}


