body
{
	background-color: blue;
	color: white;
	font-family: Hevetica, Arial, sans-serif;
	font-size: 14pt;
	margin-left: 0;
}

h1
{
	text-align: center;
}

input
{
	font-size: 12pt;
	max-width: 10em;
}

input:disabled
{
	background-color: rgba( 0,0,0,0);
	color: white;
	border: none;
	font-weight: 900;
	font-size: 14pt;
}

select
{
	font-size: 14pt;
	vertical-align: middle;
	margin-bottom: .5em;
}

#positions
{
	width: 8.5em;
}

button
{
	font-size: 14pt;
	width:8em;
	margin-top: 4vh;
	margin-right: 1em;
	margin-bottom: 4vh;
}

label
{
	cursor: default;
}

.nameList, #itemList
{
	margin-left: 5vw;
	margin-top: 5vh;
	font-size: 14pt;
	width: 15em;
}

#description
{
	position: relative;
	margin-top: 5vh;
	float: right;
	min-width: 40%;
	margin-right: 5vw;
	line-height: 2.5;
	height: 80%;
}

#userInfo
{
	position: absolute;
	margin-top: 5vh;
	min-width: 40%;
	margin-left: auto;
	margin-right: auto;
	line-height: 2.5;
}

#dayNeeded
{
	font-size:12pt;
}
#count
{
	width: 3em;
}

#holder
{
	width:99vw;
	display: flex;
	justify-content: center;
}

#overlay
{
	position:absolute;
	z-index: 2;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
}

.popup
{
	position: absolute;
	top: 10vh;
	width: 75%;
	left: 12.5%;
	right:12.5%;
	text-align: center;
	color: darkblue;
	background: white;
	border: solid 2px black;
	box-shadow: 10px 10px 5px rgba( 0, 0, 0, .68);
	z-index: 2;
}

#navbar
{
	width: 100vw;
    background-color: lightgray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
	height: 1.2em;
	margin-bottom: 2em;
	margin-top: 1px;
}

